<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });

            function myFunction() {
                var x = document.getElementById("myDIV");
                var y = document.getElementById("myDIV1");
                y.style.display = "none"

                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                   none;
                }
            }

            function myFunction1() {
                var x = document.getElementById("myDIV1");
                var y = document.getElementById("myDIV");
                y.style.display = "none"
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    none;
                }
            }

    </script>


</head>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/" style="color:#2F5FD2;font-weight:600;font-size:22px;margin-left:10px">

        Zapp<sub style="font-size:12px">Beta</sub>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse header" id="navbarSupportedContent">
        {% if session['username'] %}
        <ul class="navbar-nav ml-auto" style="margin-right:2%;">
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus" style="font-weight:300;font-size:15px;color:black"><u>More Info</u></a>
            </li>


            <li class="nav-item active">
                <a class="nav-link" href="/contribute" style="font-weight:300;font-size:15px;color:black">Contribute</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/FAQ" style="font-weight:300;font-size:15px;color:black">FAQ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contact" style="font-weight:300;font-size:15px;color:black">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/" style="font-weight:bold;font-size:15px;color:black">Account</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto" style="margin-right:2%;">
            <li class="nav-item active">
                <a class="nav-link" href="/" style="font-weight:300;font-size:15px;color:black">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus" style="font-weight:300;font-size:15px;color:black"><u>More Info</u></a>
            </li>


            <li class="nav-item active">
                <a class="nav-link" href="/contribute" style="font-weight:300;font-size:15px;color:black">Contribute</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/FAQ" style="font-weight:300;font-size:15px;color:black">FAQ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contact" style="font-weight:300;font-size:15px;color:black">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="popover2" data-placement="bottom"
                   style="font-weight:bold;font-size:15px;color:black">Log In</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
<div style="display:none;">
    <div id="popover-head" class="head-log hide">Log-In</div>
    <div id="popover-content" class="hide">
        <form method="post" action="/auth/login">
            <div class="form-group">
                <input
                        type="text"
                        placeholder="Username"
                        name="username"
                        class="form-control input-box"
                        style="background-color:#eef2f3">

            </div>
            <div class="form-group">
                <input
                        type="password"
                        placeholder="Password"
                        name="password"
                        class="form-control input-box"
                        style="background-color:#eef2f3">

            </div>
            <button type="submit" style="background-color:#2F5FD2;font-family:Roboto;border-radius:7px;border:0;"
                    class="btn btn-success">Log In
            </button>
        </form>
    </div>
    <script>
                $('#popover2').popover({
                html : true,
                 title: function() {
                 return $("#popover-head").html();
                     },
                     content: function() {
                     return $("#popover-content").html();
                     }
                   })

    </script>

</div>
<div class="mainhead" style="width:100%;height:70%;background-color:white;z-index:100;">
    <div style="width:100%;margin-top:6%;position:absolute;margin-left:0%;">
        <div style="margin-left:10%;display:inline-block;z-index:2;float:left">
            <h1 class="header" style="text-align:left;font-size:33px;color:black;FONT-WEIGHT:400;">About <span
                    style="color:#2F5FD2;font-weight:600">Zapp</span></h1>
            <hr style="background-color:#194084;width:60px;float:left;height:2px">
            <p class="header"
               style="text-align:left;line-height:1.6;font-size:20px;color:black;font-weight:400;margin-top:3%;clear:both;width:50%">
                Bitcoin's User Friendly Face</p>
            <p class="header"
               style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:1%;clear:both;width:50%">
                Started in 2018 by a developer passionate about the mission of tackling <b>Bitcoin's usability and
                scaling issues</b>, hindering mass adoption. Currently working at the largest cryptocurrency exchange
                based in Japan, Singapore and Ho Chi Minh. A member of the crypto community, not the financial
                establishments. </p>
            <p class="header"
               style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:3%;clear:both;width:50%;">
                <span style="font-weight:600;color:#2F5FD2">Zapp</span> is an application which allows users to send Btc
                across the internet with <b>simply a username.</b> <span
                    style="font-weight:600;color:#2F5FD2">Zapp</span> is what Venmo is to the current banking system.
                Your current Btc wallet will serve as your personal "Bank", whilst Zapp functions as a way to spend your
                Btc easily, securely and for no fee's. <span style="font-weight:400">No Financial Institutions, No Banks, No Credit Cards, No Fiat, No Fee's. No BS, simple BTC payments.</span>
            </p>


            <a id="sectionhowto">
                <div style="margin-bottom:50px">
                    <h1 class="header"
                        style="text-align:left;font-size:23px;color:black;FONT-WEIGHT:400;margin-top:50px">How It
                        Works</h1>
                    <hr style="background-color:#194084;width:60px;float:left;height:2px">
                    <p class="header"
                       style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:3%;clear:both;width:50%">
                        <span style="font-weight:600;">Step 1</span>: Make an Account. <b>No Email required,</b> Just a
                        creative, available username. </p>
                    <p class="header"
                       style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:3%;clear:both;width:50%">
                        <span style="font-weight:600;">Step 2</span>: Deposit BTC from your current wallet into the Zapp
                        Account. Current deposits for the beta are topped at 100usd for security purposes.</p>
                    <p class="header"
                       style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:3%;clear:both;width:50%">
                        <span style="font-weight:600;">Step 3:</span> Send BTC to whoever you want for <b>free using
                        just their username. Attach a message to each transaction too.</b></p>
                    <p class="header"
                       style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:3%;clear:both;width:50%">
                        <span style="font-weight:600;">Step 4:</span> When you want to withdraw out of your account,
                        just click withdraw, enter any Btc address, and get your Btc withdrawn instantly. <b>No Fee's on withdrawals to external addresses differentiates Zapp from
                        other services.</b>
                    </p>
                </div>
            </a>


            <div style="margin-bottom:170px">
                <h1 class="header" style="text-align:left;font-size:23px;color:black;FONT-WEIGHT:400;">Advantages of
                    Zapp</h1>
                <hr style="background-color:#194084;width:60px;float:left;height:2px">
                <p class="header"
                   style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:3%;clear:both;width:50%">
                    <b>Bitcoin allows you to be your own bank.</b> No threats of governmental seizure and no need to
                    rely upon the decisions of those placed in power. With Bitcoin we are responsible for our money.
                </p>
                <p class="header"
                   style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:3%;clear:both;width:50%">
                    However, rather than a store of value, Bitcoins survival hinges on its use in p2p internet payments.
                    Bitcoin at its present state is too costly, slow, inefficient and complex for most users to use.
                    Even with the addition of the lightning network a user friendly interface is needed <b>without
                    comprimising the p2p, private, bank-less free nature of btc.</b> This is where <span
                        style="font-weight:600;color:#2F5FD2">Zapp</span> comes into play. </p>
                <p class="header"
                   style="text-align:left;line-height:1.6;font-size:16px;color:black;font-weight:300;margin-top:3%;clear:both;width:50%">
                    Send Btc to anyone over the internet without having to know them personally. Your username is the
                    only thing you need to accept payments. </p>

            </div>
            <!--<button class="header" style="border-width:0;border-radius:50px;border:2px solid #194084;color:#194084;background-color:clear;font-size:1rem;line-height:1.5;padding: .8rem .8rem;padding-left:.8rem; padding-right:.8rem;font-weight:400;width:240px">
                Ask Us Anything
            </button>-->


        </div>


    </div>

</div>

<footer style="position: fixed; bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color:white">
    <div style="text-align:center">
        <ul style="font-weight:400;font-size:13px;list-style-type:none;display:inline;" class="header">
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;font-weight:400;font-size:15px;color:#2F5FD2;">
                ⓒ Genesis One
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2">
                <a href="/aboutus" style="color:#2F5FD2">About Us</a>
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2"
                style="color:#2F5FD2">
                <a href="/contribute" style="color:#2F5FD2">Contribute</a>
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2">
                <a href="/FAQ" style="color:#2F5FD2">FAQ</a>
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2">
                <a href="/terms" style="color:#2F5FD2">Terms of Service</a>
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2;margin-right:40px;">
                <a href="/contact" style="color:#2F5FD2">Contact</a>
            </li>

        </ul>
    </div>
</footer>

</html>