<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <meta name="theme-color" content="white">
        <link rel="apple-touch-startup-image" href="/static/icon.png">
    <link rel="apple-touch-icon" href="/static/icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icon.png">
        <meta name="theme-color" content="white">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,600,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="manifest" href="/static/manifest.json">
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });

            function myFunction() {
                var x = document.getElementById("myDIV");
                var y = document.getElementById("myDIV1");
                y.style.display = "none"

                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                   none;
                }
            }

            function myFunction1() {
                var x = document.getElementById("myDIV1");
                var y = document.getElementById("myDIV");
                y.style.display = "none"
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    none;
                }
            }
             function AvoidSpace(event) {
    var k = event ? event.which : window.event.keyCode;
    if (k == 32) return false;
}





         </script>
       <!-- <script type="text/javascript" src="/static/script.js"></script>-->

        <style>
            .img{
                float:right;clear:both;margin-top:4.5%;margin-left:50%;position:absolute
            }
            .des-prod{
                width:33%;
            }
            .head-des{
                font-size:30px;
            }
            .sub-des{
                font-size:25px;

            }
            .des-des1{
                font-size:16px;
                width:54%;


            }
            .mainhead{
                background-size:     cover;
                background-repeat:   no-repeat;
                background-position: center center;
                height:78%;
            }
            .inp-width{
                width:400px;
            }
            .feat-1{
                margin-top:0%;
            }
            .feat-2{
                margin-top:0%;
            }
            .feat-3{
                margin-top:0%;
            }
            .feat-des{
                width:75%;
            }
             .feat-cont{
                height:400px;
                margin-top:3%
            }
            .details{
               margin-top:40%;
               text-align:center;
               width:250px;
            }
            .using-zapp{
                width:60%;
            }
            .step-display{

            }
            .height-zapp{
                height:550px;
            }
            .prod-stuff{
                height:430px;
            }

        @media (max-width: 500px) {
            .img {
                display:none;
                style="float:right;clear:both;margin-top:4.5%;margin-left:50%;position:absolute"
            }
            .first-comp{
            margin-left:-30px;
        }
            .des-prod{
                width:90%;
            }
            .head-des{
                font-size:25px;
                margin-top:10%;
            }
            .sub-des{
                font-size:22px;
            }
            .des-des1{
                font-size: 17px;
                width:90%;


            }
            .mainhead{
                height:80%;
            }
            .inp-width{
                width:300px;
            }
            .feat-cont{
                height:880px
            }
            .feat-1{
                position:absolute;
                margin-top:4.5%;
                margin-left:18%;
            }
            .feat-2{
                position:absolute;
                margin-top:75%;
                margin-left:18%;
            }
            .feat-3{
                position:absolute;
                margin-top:140%;
                margin-left:18%;
            }
            .feat-des{
                width:200px;
                text-align:center;

            }
            .details{
               margin-top:17%;
               text-align:left;
               width:250px;
               margin-left:15%

            }
            .details hr{
               float:left

            }
            .using-zapp{
                width:100%;
            }
            .step-display{
                  display:none;
            }
            .height-zapp{
                height:400px;
            }
            .rid-or-not{
                display:none
            }
            .prod-stuff{
                height:330px;
                margin-top:6%
            }





        }
    </style>




    </head>

    <nav class="navbar navbar-light" >

  <a class="navbar-brand" href="#" style="color:#2F5FD2;font-weight:600;font-size:22px;margin-left:10px">

    Zapp<sub style="font-size:12px">Beta</sub>

</a>


  <div class="header" id="navbarSupportedContent">


        <a class="nav-link" href="#" id="popover2" data-placement="bottom"  style="font-weight:bold;font-size:14px;color:#2F5FD2;outline:none;">Log In</a>


  </div>
</nav>

   <div style="display:none;">
    <div id="popover-head" class="">Log-In</div>
            <div id="popover-content" class="hide">
                <form method="post" action="/auth/login">
                    <div class="form-group">
                        <input
                                onkeypress="return AvoidSpace(event)"
                                type="text"
                                placeholder="Username"
                                name="username"
                                class="form-control input-box"

                                style="background-color:#eef2f3">

                    </div>
                    <div class="form-group">
                        <input
                                type="password"
                                placeholder="Password"
                                name="password"
                                class="form-control input-box"
                                style="background-color:#eef2f3">

                    </div>
                    <button type="submit" style="width:90px;background-color:#2F5FD2;font-family:Roboto;border-radius:50px;border:0;padding: .8rem .8rem;padding-left:.8rem; padding-right:.8rem;color:white" class="btn">Log In</button>
                </form>
            </div>
            <script>
                $('#popover2').popover({
                html : true,
                 title: function() {
                 return $("#popover-head").html();
                     },
                     content: function() {
                     return $("#popover-content").html();
                     }
                   })


            </script>

        </div>
     <div class="mainhead" style="width:100%;background-color:white;z-index:100;">
        <div style="width:100%;margin-top:7%;position:absolute;margin-left:0%;">
            <div style="margin-left:10%;display:inline-block;z-index:2;float:left">
                <h1 class="header head-des" style="text-align:left;color:black;FONT-WEIGHT:400;">Bitcoin Payments Simplified.</h1>
                <hr style="background-color:#194084;width:60px;float:left;height:2px">
                <p class="header des-des1" style="text-align:left;line-height:1.6;color:black;font-weight:300;margin-top:3%;clear:both"><span style="color:#2F5FD2;font-weight:600;font-size:17px">Zapp</span>, simple Bitcoin P2P payments, using human readable usernames.<br><span style="font-weight:500">No ID, No Banks, No Fee's</span></p>

                <p style="font-size:10px;color:#989898;margin-top:-5px">by clicking Get Started, I agree to the <b><span style="color:grey;">Terms of Service</span></b> and have read <b><span style="color:grey;"><u>More Info</u></span></b>. </p>
                <!--<button class="header" style="border-width:0;border-radius:50px;border:2px solid #194084;color:#194084;background-color:clear;font-size:1rem;line-height:1.5;padding: .8rem .8rem;padding-left:.8rem; padding-right:.8rem;font-weight:400;width:240px">
                    Ask Us Anything
                </button>-->
                <form action="/auth/register" method="post">
                <input class="inp-width" type="text" required="required" onkeypress="return AvoidSpace(event)" title="Must contain at least 6 or more characters. Also remember your username is case sensitive" name="username" id="username" pattern=".{6,}" placeholder="New Zapp Username eg. bobby123" style="text-align:center;border:none;border-radius:6px;height:40px;background:#eef2f3;font-size:15px;margin-top:0px"><br>
                    <input  class="inp-width" required="required" type="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 7 or more characters" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"  id="password" placeholder="Password" style="text-align:center;border:none;border-radius:6px;height:40px;background:#eef2f3;font-size:15px;margin-top:10px"><br>
                    <input  class="inp-width" type="text" title="" name="email" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"  id="email" placeholder="Email optional. Needed for Password Reset" style="text-align:center;border:none;border-radius:6px;height:40px;background:#eef2f3;font-size:15px;margin-top:10px"><br>
                <button class="header" style="border-width:0;border-radius:50px;color:white;background-color:#2F5FD2;font-size:17px;line-height:1.5;padding: .8rem .8rem;padding-left:.8rem; padding-right:.8rem;font-weight:300;width:200px;margin-left:0px;margin-top:15px" type="submit">
                    <span  style="color:white;">Get Started</span>
                </button>
                </form>


            </div>



        </div>

    </div>
    <!--
    <div style="background-color:#FFFBFF
;height:50px;width:30%;float:Right">
        <h3 style="font-weight:300;font-size:17px;text-align:center;margin:auto;margin-top:3.5%;">1 ETH = 2001 USD</h3>
    </div>
    <div style="height:600px;">
        <div style="float:left;width:60%">
        <img src="ko.png" style="width:100%;height:auto;">
        </div>
        <div style="float:left;width:40%;background-color:#f2f5fb;height:480.8px;">
            <h2 class="header" style="font-weight:300;font-size:18px;text-align:center;margin-top:3%;margin:auto;margin-top:22%;margin-bottom:4%;"><b>Accentral sets up the infrastructure, so <br>you can focus on what you do best.</b></h2>
            <p class="features-para">Click Set-Up and </p>
            <p class="features-para"><b>Manage</b> your various digital assets,</p>
            <p class="features-para"><b>Send digital items</b> to your peers .</b></p>
            <p class="features-par sa">Get an Estimated <b>valuation</b> for your collectibles</p>
            <p class="features-para">Sell your collectible on <b>all exchanges</b></p>
            <img style="height:47px;margin-top:20.35%;margin-left:-1.2%" src="play-arrow.svg">

        </div>

    </div>
    <!--
    <div style="background-color:white;height:200px;">
        <h2 style="text-align:center;font-size:24px;color:black;FONT-WEIGHT:400;margin-top:3%;font-family:roboto;">It's Simple, Secure, Private.</h2>
        <div style="display: flex;width:1000px;margin:auto;text-align:center;margin-top:3%;">
            <div style="flex: 1;width:200px;text-align:center;font-size:20px;color:black;FONT-WEIGHT:300;margin-top:3%">
                <img src="003-sell.svg" style="height:50px;">                <p style="margin-top:3%">Sell It</p>
                <hr  style="width:200px">
                <hr  style="width:100px;background-color:#194084;height:1px">

                <p style="font-size:15px;font-weight:400"><b>Free Listing</b></p>
                <p style="font-size:15px;width:77%;margin:auto;">Sell/Buy anything from <b>electronics</b> to <b>clothing</b> for crypto. Buyers need an crypto-wallet and home address to get started. Nothing else required.</p>
            </div>
             <div style="flex: 1;width:200px;text-align:center;font-size:20px;color:black;FONT-WEIGHT:300;margin-top:3%">
                <img src="locked.svg" style="height:50px;">

                 <p style="margin-top:3%">Ship It</p>
                 <hr  style="width:200px">
                 <p style="font-size:15px;font-weight:400"><b>Secure and Private</b></p>
                 <p style="font-size:15px;width:77%;margin:auto;">Use of multi-sig along with a review system prevents fraud and ensures security of your payment. Pay only when you recieve your order. </p>
            </div>
             <div style="flex: 1;width:200px;text-align:center;font-size:20px;color:black;FONT-WEIGHT:300;margin-top:3%">
                 <img src="001-blockchain.svg" style="height:50px;">
                 <p style="margin-top:3%">Get Paid</p>
                  <hr style="width:200px">
                 <p style="font-size:15px;font-weight:400"><b>No Fee's</b></p>
                 <p style="font-size:15px;width:78%;margin:auto;">Once the product is delivered, and the buyer approves, the payment will be released to your crypto-wallet. No fee's means seller keeps 100%.</p>
            </div>
             <br style="clear: left;" />
        </div>

    </div>

    <div style="background-color:white;height:500px;width:35%;float:left">
    <H1 style="font-weight:300;font-size:18px;text-align:center;margin:auto;margin-top:6%;font-weight:300;width:75%" class="header" >Over <b>50</b> different assets/collections, made easy to organise and manage.</H1>
    </div>
    <div style="background-color:#FFFBFF;height:500px;width:35%;float:left;margin-top:0">
    <H1 style="font-weight:300;font-size:18px;text-align:center;margin:auto;margin-top:6%;font-weight:300;" class="header" >Contribute on the project.</H1>
    </div>
    <div style="background-color:white;height:500px;width:30%;float:left;margin-top:0">
        <H1 style="font-weight:300;font-size:18px;text-align:center;margin:auto;margin-top:-8%;font-weight:300;" class="header" >Getting Started</H1>
    <p class="features-para">Tutorials and resources to get started collecting and investing in blockchain based assets.</p>

    </div>
    <div style="background-color:white;height:300px;width:100%;margin-top:0;z-index:100;clear:both;">
    <div style="float:left;width:70%;background-color:white;height:100%">
    <div style="float:left;width:35%">
    <H1 style="text-align:center;font-size:43px;color:black;FONT-WEIGHT:300;margin-left:15%;margin:auto;margin-top:9%;" class="header" >Sign Up for Updates.</H1>
    <p class="features-para" style="margin-top:2%;text-align:center">Enter your username for updates on new features, announcements and more.</p>
    </div>
    <div style="float:left;width:35%">
    <form style="text-align:center;margin-top:20%;margin-left:15%">
        <input style="font-weight:300;font-size:18px;margin-top:0%;font-weight:300;width:100%;border:0;border-bottom: 1px solid black;" placeholder="username" class="header" >
        <button class="header" style="border:1px solid #3144E8;color:white;background-color:#3144E8;font-size:1rem;line-height:1.5;padding: .6rem .6rem;padding-left:.6rem; padding-right:.6rem;font-weight:400;margin-top:20px">
                    Notify Up
                </button>
    </form>
    </div>
    </div>
    </div>
-->
    <div class="prod-stuff" style="background-color:#fafafa">
        <h2 class="header sub-des" style="text-align:left;color:black;FONT-WEIGHT:400;text-align:center;padding-top:78px">Send Bitcoin like an Email. Easily.</h2>
        <p style="text-align:center;line-height:1.6;font-size:15px;color:black;font-weight:300;padding-top:2%;clear:both;margin:auto;" class="header des-prod">Send Bitcoin as you would an Email. Simple Usernames, No Complications. <span class="rid-or-not">Your desktop or hardware wallet serves as your personal <b>"Bank"</b>, whilst everyday transactions are made on the Zapp platform for convenience. <b>The easiest way to harness the power of Bitcoin.</b></span></p>
        <div>
            <a href="/aboutus" style="text-decoration:none;" >
        <button class="header" style="border-width:0;border-radius:50px;color:white;background-color:#2F5FD2;font-size:1rem;line-height:1.5;padding: .8rem .8rem;padding-left:.8rem; padding-right:.8rem;font-weight:300;width:130px;margin-left:0px;clear:both;display:flex;justify-content:center;font-size:15px;margin:0 auto;margin-top:30px;">
                    <span style="color:white">Learn More</span>
                </button>
                </a>
        </div>
    </div>
    <!--<div style="background-color:white;position:relative;width:100%;" class="header feat-cont">
        <div style="height:200px;">
        <div style="display:flex;width:85%;margin:auto;text-align:center;margin-top:6%;">


            <div class="feat-1" style="flex:1;width:200px;font-size:20px;color:black;FONT-WEIGHT:300;">
                <!--<img src="techhard.svg" style="height:100px;">
                <p style="margin-top:3%;font-weight:400;color:#2F5FD2">Easy to use</p>
                <hr  style="width:100px;background-color:black;height:1px">
                <p style="font-size:16px;font-weight:300;color:black"><b>Bitcoin without the jargon.</b></p>
                <p class="feat-des" style="font-size:15px;margin:0 auto;">Send bitcoin like you would an email. No complicated numbers and terminology. instead utilize simple understandable usernames like "mywallet".</p>
            </div>



            <div class="feat-2" style="flex:1;width:200px;font-size:20px;color:black;FONT-WEIGHT:300;">
                <!--<img src="security.svg" style="height:100px;"> <p style="margin-top:3%;font-weight:400;color:#2F5FD2">Instant, Secure, Free</p>
                <hr  style="width:100px;background-color:black;height:1px">
                <p style="font-size:16px;font-weight:300;color:black"><b>No. Fee's. Forever.</b></p>
                <p class="feat-des" style="font-size:15px;">Zapp is free to use, and will always be a platform for instantaeneous, secure transactions and withdrawals. </p>
            </div>

            <div class="feat-3"  style="flex:1;width:200px;text-align:center;font-size:20px;color:black;FONT-WEIGHT:300;">
                 <!--<img src="p2p.svg" style="height:100px;">
                 <p style="margin-top:3%;font-weight:400;color:#2F5FD2">Micro-Payments</p>
                                <hr  style="width:100px;background-color:black;height:1px">

                 <p style="font-size:16px;font-weight:300;color:black"><b>Micropayment Capabilities</b></p>
                 <p class="feat-des" style="font-size:15px;margin:auto;">Zapp's no credit card, no fee transactions makes it ideal for instant worldwide micropayments to anyone you want.  </p>
            </div>
        </div>
        <!--<p style="text-align:center;font-family:roboto;font-weight:300;;width:47%;margin:auto;margin-top:3%;line-height:1.65">Launched in 2018, Bit09 is dedicated towards fostering the <b>mass adoption</b> of crypto-currencies as a means for payment. Sell anything from <b>electronics</b> to <b>clothing</b> with fellow crypto users, with an multi-sig and review system built in place to prevent fraud and ensure funds <b>security</b>. Bit09 does not take a fee on any sales. you keep <b>100%</b>, guaranteed.     </p>
    </div>

    </div>-->
    <section class="products-area section-gap feat-cont">
				<div class="container">

					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-product">

								<div class="details">
									<h4 style="margin-top:5%;font-weight:400;color:#2F5FD2;font-size:20px;">Easy To Use</h4>
                                    <hr style="background-color:#194084;width:60px;height:2px;clear:both">
									<p style="font-size:15px;margin:0 auto;clear:both">
										Send Bitcoin like you would an email utilizing simple understandable usernames like "mywallet"
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-product">
								<div class="details">
									<h4 style="margin-top:3%;font-weight:400;color:#2F5FD2;font-size:20px;">Secure and Private</h4>
                                    <hr style="background-color:#194084;width:60px;height:2px;clear:both">
									<p style="font-size:15px;margin:0 auto;clear:both">
										Send payments privately through the internet to anyone you want. No ID, No Email required.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-product">

								<div class="details">
									<h4 style="margin-top:3%;font-weight:400;color:#2F5FD2;font-size:20px;">Instant and Free</h4>
                                    <hr style="background-color:#194084;width:60px;;height:2px;clear:both">
									<p style="font-size:15px;margin:0 auto;clear:both">
										Zapp is a free to use platform for instantaeneous, secure transactions and withdrawals.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-product">

								<div class="details">
									<h4 style="margin-top:3%;font-weight:400;color:#2F5FD2;font-size:20px;">Micro-Payments</h4>
                                    <hr style="background-color:#194084;width:60px;height:2px;clear:both">
									<p style="font-size:15px;margin:0 auto;clear:both;">
										Zapp's no fee transactions makes it ideal for instant  micropayments to anyone you want.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>






    <div class="height-zapp" style="width:100%;">


    <div class="using-zapp" style="background-color:#fafafa;float:left;height:100%">

        <div style="float:left;margin-left:12%">
        <h2 class="header" style="text-align:center;font-size:25px;color:black;FONT-WEIGHT:400;float:left;padding-top:70px">Using <span style="color:#2F5FD2;font-family:roboto;FONT-WEIGHT:600">Zapp</span></h2>
        <hr style="background-color:#194084;width:60px;float:left;height:2px;clear:both">
        <p style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;padding-top:2%;clear:both;width:50%;margin:auto;float:left" class="header">Easiest way to transfer money online using Bitcoin in just 4 steps.</p>
            <a href="/aboutus#sectionhowto" style="text-decoration : none">
            <button class="header" style="border-width:0;border-radius:50px;color:white;background-color:#2F5FD2;font-size:1rem;line-height:1.5;padding: .8rem .8rem;padding-left:.8rem; padding-right:.8rem;font-weight:300;width:200px;margin-left:0px;clear:both;float:left;margin-top:25px">
               <span style="color:white">How To Use     </span>
                </button>
                </a>
        </div>


        <div class="step-display" style="width:50%;float:left;clear:both;margin-top:-27.3%;margin-left:45%">
        <p class="header" style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;margin-top:2%;clear:both;width:75%"><span style="font-weight:600;">Step 1</span>: Make an Account. <b>No email required,</b> Just a creative, available username. </p>
                <p class="header" style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;margin-top:5%;clear:both;width:75%"><span style="font-weight:600;">Step 2</span>: <b>Deposit BTC</b> from your current wallet into the Zapp Account. Current deposits for the beta are topped at 10usd for security purposes.</p>
                <p class="header" style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;margin-top:5%;clear:both;width:75%"><span style="font-weight:600;">Step 3:</span> Send BTC to whoever you want for <b>free using just their username. Attach a message to each transaction too.</b></p>
                <p class="header" style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;margin-top:5%;clear:both;width:75%"><span style="font-weight:600;">Step 4:</span> Whenever you please, btc is automatically withdrawn to your wallet <b>instantly, for no fee's.</b></b>
                </p>
            </div>
        </div>



<!--

<div style="width:40%;float:left;">
        <div style="float:left;margin-left:12%">
        <h2 class="header" class="header" style="text-align:center;font-size:25px;color:black;FONT-WEIGHT:400;padding-top:80px;float:left;padding-top:140px">Currently In Development</h2>
        <hr style="background-color:#194084;width:60px;float:left;height:2px;clear:both">

        </div>


        <div style="width:80%;float:left;clear:both;margin-top:0.3%;margin-left:12.2%">
            <p class="header" style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;margin-top:1%;clear:both;width:73%"><span style="font-weight:600;">Mobile Version</span></p>
                <p class="header" style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;margin-top:3%;clear:both;width:70%"><span style="font-weight:600;">Support for Zcash and Monero</span></p>
                <p class="header" style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;margin-top:3%;clear:both;width:70%"><span style="font-weight:600;">Integration of Lightning Network</span></b></p>
                <p class="header" style="text-align:left;line-height:1.6;font-size:15px;color:black;font-weight:300;margin-top:3%;clear:both;width:70%"><span style="font-weight:600;">Allowing for Btc purchase through frictionless means, Ie. Venmo</span></b>
                </p>
<a href="/contribute" style="text-decoration : none">
<button class="header" style="border-width:0;border-radius:50px;color:white;background-color:#2F5FD2;font-size:1rem;line-height:1.5;padding: .8rem .8rem;padding-left:.8rem; padding-right:.8rem;font-weight:300;width:120px;margin-left:0px;clear:both;display:flex;justify-content:center;font-size:15px;margin-top:22px;">
    <span style="color:white">Help Us</span>
                </button>
    </a>
            </div>
        </div>


        </div>



    </div>


    <!--<div style="height:400px;background-color:white">
        <h1 class="header" style="text-align:center;font-size:33px;color:black;FONT-WEIGHT:400;">Sign up for updates.</h1>
    </div>-->
    <div style="position: fixed; bottom: 0;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white">
    <div style="text-align:center">
        <ul style="font-weight:400;font-size:13px;list-style-type:none;display:inline;" class="header">
            <li class="first-comp" style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;font-weight:400;font-size:15px;color:#2F5FD2;">
                ⓒ Genesis One
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2">
                <a href="/aboutus" style="color:#2F5FD2">About Us</a>
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2"
                style="color:#2F5FD2">
                <a href="/contribute" style="color:#2F5FD2">Contribute</a>
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2">
                <a href="/FAQ" style="color:#2F5FD2">FAQ</a>
            </li>
            <li style="line-height:22px;list-style-type:none;display:inline;padding:0 5px;color:#2F5FD2;margin-right:40px;">
                <a href="/contact" style="color:#2F5FD2">Contact</a>
            </li>

        </ul>
    </div>
          </div>
    </div>

</html>