
        .bar-font{
           color:black;
           font-weight:300;
           font-size:17px;
           text-align:left;
           padding-top:15px;
           padding-left:17px;
        }
        .bar-width{
            width:15%;
        }
        .Zapplogo{
            color:#2F5FD2;
            font-weight:600;
            font-size:26px;
            text-align:left;
            padding-top:15px;
            padding-left:18px;
        }
        .sendhead{
            margin-top:5%;
        }
        .input-send{
            width:250px;
        }
        .first-comp{
            margin-left:-15px;
        }
        .res-tab{

            font-size:16px
        }
        .wid-cont{
            width:50%;
            margin-left:3.5%;
        }

        @media (max-width: 500px) {
            .sendhead {
                margin-top:11%;
            }
            .Zapplogo{
            font-size:20px;
            }
            .bar-width{
            width:25%;
            display:none;

            }
            .bar-font{
           font-weight:400;
           font-size:14px;
           padding-left:14px;
        }
        .input-send{
            width:280px;
        }
        .first-comp{
            margin-left:-30px;
        }
        .res-tab{
            margin-left:10px;
            font-size:20px
        }
        .wid-cont{
            width:90%;
            margin-left:1%;

        }



        }
