.bar-font{
           color:black;
           font-weight:300;
           font-size:17px;
           text-align:left;
           padding-top:15px;
           padding-left:17px;
        }
        .bar-width{
            width:15%;
            height:100%;
        }
        .Zapplogo{
            color:#2F5FD2;
            font-weight:600;
            font-size:26px;
            text-align:left;
            padding-top:15px;
            padding-left:18px;
        }
        .sendhead{
            margin-top:6.8%;
        }
        .barcode{
            width:12%;
            margin-top:1%;
        }
        .depositj{
            margin-top:1%;
        }
        .balance-display{
            margin-left:15%;
            margin-top:-3.8%;
        }
        .dep_address{
            font-size:17px;
        }
        .cont-prof{
            height:100%;
        }
        .logout{
            margin-top:20px;
        }
        .first-comp{
            margin-left:-15px;
        }
        .res-tab{
            font-size:16px;
        }
        .wit-log{
            margin-top:5%;
        }


        @media only screen and (max-width: 500px) {
  .sendhead {
                margin-top:20%;
            }
            .Zapplogo{
            font-size:20px;
            }
            .bar-width{
            width:25%;
            height:100%;

            }
            .bar-font{
           font-weight:400;
           font-size:14px;
           padding-left:14px;
        }
        .barcode{
            width:40%;
            margin-top:3%;
        }
        .incdes{
            display:none;
        }
        .depositj{
            margin-top:-10%;
        }
        .balance-display{
            margin-left:60%;
            margin-top:-14%;
        }
        .dep_address{
            font-size:13px;
        }
        .cont-prof{
            height:100%;
        }

        .logout{
            margin-top:30px;
        }
        .first-comp{
            margin-left:-30px;
        }
        .res-tab{
            margin-left:10px;
            font-size:20px;
        }
        .wit-log{
            margin-top:8%;
        }
        .settings{
            display:none;
        }



        }