.bar-font{
           color:black;
           font-weight:300;
           font-size:17px;
           text-align:left;
           padding-top:15px;
           padding-left:17px;
        }
        .bar-width{
            width:15%;
        }
        .Zapplogo{
            font-size:26px;
        }
        .sendhead{
            margin-top:5%;
        }
        .input-send{
            width:250px;
        }
        .first-comp{
            margin-left:-15px;
        }
        .res-tab{
            font-size:16px;
        }
        .wid-cont{
            width:50%;
            margin-left:3.5%;
        }
        .inputContainer {
            width: 250px;
            margin-top:15%;
            outline:none;
            height:50px;
        }
        .inputContainer label {
            float: left;
            margin-right: -6%;
            font-size:17.5px;
            margin-top:0%;

        }
        .inputContainer div {
            overflow: hidden;
        }
        .inputContainer input {
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            text-align:left;
            outline:none;
            padding-left:0%;
            font-size:17px;

        }

        @media only screen and (max-width: 500px) {
        .inputContainer label {
            margin-top:0.2%;
            font-size:20px;


        }

            .sendhead {
                margin-top:11%;
            }
            .Zapplogo{
            font-size:20px;
            }
            .bar-width{
            width:25%;
            display:none;

            }
            .bar-font{
           font-weight:400;
           font-size:14px;
           padding-left:14px;
        }
        .input-send{
            width:280px;
        }
        .first-comp{
            margin-left:-30px;
        }
        .res-tab{
            margin-left:10px;
             font-size:20px;
        }
        .wid-cont{
            width:90%;
            margin-left:1%;
        }



        }






/*.bar-font{
           color:black;
           font-weight:300;
           font-size:17px;
           text-align:left;
           padding-top:15px;
           padding-left:17px;
        }
        .bar-width{
            width:15%;
        }
        .Zapplogo{
            font-size:26px;
        }
        .sendhead{
            margin-top:5%;
        }
        .input-send{
            width:250px;
        }
        .first-comp{
            margin-left:-15px;
        }
        .res-tab{
            font-size:16px;
        }
        .wid-cont{
            width:50%;
            margin-left:3.5%;
        }

        .inputContainer {
            width: 250px;
            margin-top:15%;
            outline:none;
            height:50px

        }
        .inputContainer label {
            float: left;
            margin-right: -6%;
            font-size:17.5px;
            margin-top:0%;


        }
        .inputContainer div {
            overflow: hidden;
        }
        .inputContainer input {
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
             text-align:left;
             outline:none;
             padding-left:0%;
             font-size:17px;
        }

        @media only screen and (max-width: 500px) {
        .inputContainer label {
            margin-top:0.2%;
            font-size:20px;



        }

            .sendhead {
                margin-top:11%;
            }
            .Zapplogo{
            font-size:20px;
            }
            .bar-width{
            width:25%;
            display:none;

            }
            .bar-font{
           font-weight:400;
           font-size:14px;
           padding-left:14px;
        }
        .input-send{
            width:280px;
        }
        .first-comp{
            margin-left:-30px;
        }
        .res-tab{
            margin-left:10px;
             font-size:20px;
        }
        .wid-cont{
            width:90%;
            margin-left:1%;
        }



        }